@media print {
    h1 {
        color: black;
    }
    body {
        color: black;
    }
    /* hide */
    audio {
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }
    
    /* print links */
    a[href]::after {
        content: " Link " attr( href )
    }
    
    .fixed {
        display: none !important;
        visibility: hidden !important;
        opacity: 0;
    }
    figure {
        break-inside: avoid;
        overflow: auto;
        clear: both;
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    /* paper sizing */
    @page {
        margin: 1in;
    }
    

}