/* CSS for for Plyr Plugin  
https://cdn.plyr.io/3.7.8/plyr.css
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdn.plyr.io/3.7.8/plyr.css');
/* CSS Variables */
:root {
  --plyr-color-main: red;
    /* audio controls background */
    --plyr-audio-controls-background: black;
    /* audio controls color */
    --plyr-audio-control-color: white;

    --plyr-audio-control-color-hover: black;

    --plyr-audio-progress-buffered-background: blue;

    --plyr-audio-range-track-background: darkred;
    
    --plyr-font-family: sans-serif;
    --plyr-font-size-time: 32px;

    --plyr-tooltip-background: red;
    --plyr-tooltip-color: black; 

    --plyr-control-icon-size: 32px;
}

body {
  background-image: url(https://assets.codepen.io/16425/blackbg.jpg);
  background-repeat: repeat;
}

/* Layout */
main {
  background-color: #b7142fbd; 
  max-width: 1000px;
  margin-inline: auto;
  font-family:Open Sans,Helvetica,Arial,sans-serif;
}

main img {
    max-width: 100%;
    display: block;
}

main h1 {
  color: white;
  text-align: center;
}

main article {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-top: 60px;
}

main article figure {
  background: darkgray;
  padding: 1em;
  margin: 0;
  border: solid 0.4em;
  border-radius: 0.5em;
  width: 15rem
}

audio {
  background-color: white;
  padding: 1.5em;
  border: solid 1em white;
  border-radius: 1em;
 
}