/* CSS for for Plyr Plugin  
https://cdn.plyr.io/3.7.8/plyr.css
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdn.plyr.io/3.7.8/plyr.css');
/* Rubik Spray */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
/* CSS Variables */
:root {
  --plyr-color-main: rgb(157, 149, 4);
    /* audio controls background */
    --plyr-audio-controls-background: rgb(34, 34, 34);
    /* audio controls color */
    --plyr-audio-control-color: rgb(135, 158, 6);

    --plyr-audio-control-color-hover: black;

    --plyr-audio-progress-buffered-background: blue;

    --plyr-audio-range-track-background: darkred;
    
    --plyr-font-family: sans-serif;
    --plyr-font-size-time: 32px;

    --plyr-tooltip-background: red;
    --plyr-tooltip-color: black; 

    --plyr-control-icon-size: 32px;
}

body {
  background-image: url("../media/9bQZck.png");
  background-size: cover;
  font-family:Rubik Spray Paint, Open Sans,Helvetica,Arial,sans-serif;

}

/* Layout */
main {
  background-color: #777676bd; 
  max-width: 1000px;
  margin-inline: auto;
  font-family:Rubik Spray Paint, Open Sans,Helvetica,Arial,sans-serif;
}

main img {
    max-width: 100%;
    display: block;
}

h1 {
  color: rgb(173, 179, 4);
  text-align: center;
  font-weight: normal; 
  letter-spacing: 0.1em; 
}

main article {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6em;
  margin-top: 60px;
}

main article figure {
  background: darkgray;
  padding: 1em;
  margin: 0;
  border: solid 0.4em;
  border-radius: 0.5em;
  width: 15rem
}

#instrumental {
  background: darkgray;
  padding: 1em;
  margin: 0;
  border: solid 0.4em;
  border-radius: 0.5em;
  width: 90%;
  height: 3rem;
  text-align: center;
  font-size: larger;
}

audio { 
  position: fixed; 
  bottom: 0;
  margin: 0;
}

.fixed {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background: #242323;
  padding: 0.75em;
  z-index: 5;
  margin: 0;
}


