/* CSS for for Plyr Plugin  
https://cdn.plyr.io/3.7.8/plyr.css
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdn.plyr.io/3.7.8/plyr.css');
/* Rubik Spray */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Slackey&display=swap');
/* CSS Variables */
:root {
  --color1: #222222; 
  --color2: #9d9504; 
  --color3: #585858; 
  --color4: #5a5f05; 
  --color5: #cfc6c6; 
 
  --plyr-color-main: var(--color2);
    /* audio controls background */
    --plyr-audio-controls-background: var(--color1);
    /* audio controls color */
    --plyr-audio-control-color: var(--color2);

    --plyr-audio-control-color-hover: var(--color3);

    --plyr-audio-progress-buffered-background: var(--color4);

    --plyr-audio-range-track-background: var(--color4);
    
    --plyr-font-family: Slackey, Open Sans,Helvetica,Arial,sans-serif;
    --plyr-font-size-time: 1.5rem;

    --plyr-tooltip-background: rgb(88, 86, 86);
    --plyr-tooltip-color: black; 

    --plyr-control-icon-size: 32px;
}

body {
  background-image: url("../media/9bQZck.png");
  background-size: cover;
  font-family:Rubik Spray Paint, Open Sans,Helvetica,Arial,sans-serif;

}

/* Layout */
main {
  background-color: #777676bd; 
  max-width: 1000px;
  margin-inline: auto;
  font-family:Rubik Spray Paint, Open Sans,Helvetica,Arial,sans-serif;
}

main img {
    max-width: 90%;
    display: block;
    margin: auto;
    margin-top: 2em;
    border: solid 0.4em var(--color1);
    border-radius: 0.5em;
}

h1 {
  color: var(--color2);
  text-align: center;
  font-weight: normal; 
  font-family: Slackey, Open Sans,Helvetica,Arial,sans-serif;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

main article {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6em;
  margin-top: 2em;
}

figure {
  background: var(--color5);
  padding: 1em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
  border: solid 0.4em var(--color1);
  border-radius: 0.5em;
  width: 15rem;
  font-weight: lighter;
  color: var(--color1);
  opacity: 0; 

  animation-name: fadeIn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#instrumental {
  padding: 1em;
  margin: 0;
  border: solid 0.4em;
  border-radius: 0.5em;
  width: 90%;
  height: 3rem;
  text-align: center;
  font-size: larger;
}

audio { 
  position: fixed; 
  bottom: 0;
  margin: 0;
}

.fixed {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background: #242323;
  padding: 0.75em;
  z-index: 5;
  margin: 0;
}

.header {
  background-color: var(--color3);
  padding: 1em;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Slackey, Open Sans,Helvetica,Arial,sans-serif;

}

.trivia {
  width: 80%
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


